:root {
  color-scheme: light dark;
  --title-color: #e67e30;
  --subhead-color: green;
  --link-color: blue;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --title-color: #EF7900;
    --subhead-color: #80ff80;
    --link-color: #0090FF;
  }
}

body {
    font: -apple-system-body;
}

h1 {
    background-image: url(orange-logo.svg);
    background-size: 3.5rem 3.5rem;
    background-repeat: no-repeat;
    background-position: 1rem 1.5rem;
    margin: 0;
    padding: 2rem 2rem 2rem 8rem;
    font: -apple-system-headline;
    color: var(--title-color);
}

h2 {
    font-size: 1.2em;
    margin-top: 3rem;
    font: -apple-system-subheadline;
    color: var(--subhead-color);
}

h3 {
    margin-top: 1.5rem;
    font-size: 1em;
}

h4 {
    background-repeat: no-repeat;
    background-position: 1rem 1.5rem;
    margin: 0;
    padding: 0rem 2rem 2rem 8rem;
}

footer {
    font: -apple-system-footnote;
}

a {
    color: var(--link-color);
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

